In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [20]:
df = pd.read_csv("data/season_1/groupby_all.csv")

In [21]:
df.dtypes

start_district_num      int64
time_slice              int64
date                   object
order_count           float64
succeed_count         float64
gap                   float64
dtype: object

In [22]:
df[["start_district_num", "time_slice", "order_count", 'succeed_count', 'gap']] = \
df[["start_district_num", "time_slice","order_count", 'succeed_count', 'gap']].\
    apply(lambda x: pd.to_numeric(x, errors='coerce'))
    
# transfer object to numbers

In [23]:
df["date"] = df["date"].apply(lambda x: pd.to_datetime(x, errors='coerce'))

In [24]:
df.dtypes

start_district_num             int64
time_slice                     int64
date                  datetime64[ns]
order_count                  float64
succeed_count                float64
gap                          float64
dtype: object

In [26]:
df

,start_district_num,time_slice,date,order_count,succeed_count,gap
0,1,1,2016-01-01,187.0,178.0,9.0
1,1,2,2016-01-01,198.0,191.0,7.0
2,1,3,2016-01-01,192.0,182.0,10.0
3,1,4,2016-01-01,172.0,167.0,5.0
4,1,5,2016-01-01,153.0,152.0,1.0
5,1,6,2016-01-01,132.0,131.0,1.0
6,1,7,2016-01-01,133.0,127.0,6.0
7,1,8,2016-01-01,130.0,128.0,2.0
8,1,9,2016-01-01,120.0,114.0,6.0
9,1,10,2016-01-01,111.0,105.0,6.0
10,1,11,2016-01-01,72.0,70.0,2.0
11,1,12,2016-01-01,73.0,70.0,3.0
12,1,13,2016-01-01,61.0,60.0,1.0
13,1,14,2016-01-01,71.0,67.0,4.0
14,1,15,2016-01-01,59.0,56.0,3.0
15,1,16,2016-01-01,84.0,73.0,11.0
16,1,17,2016-01-01,73.0,53.0,20.0
17,1,18,2016-01-01,65.0,47.0,18.0
18,1,19,2016-01-01,61.0,50.0,11.0
19,1,20,2016-01-01,46.0,40.0,6.0
20,1,21,2016-01-01,41.0,39.0,2.0
21,1,22,2016-01-01,32.0,31.0,1.0
22,1,23,2016-01-01,40.0,37.0,3.0
23,1,24,2016-01-01,30.0,22.0,8.0
24,1,25,2016-01-01,18.0,17.0,1.0
25,1,26,2016-01-01,24.0,23.0,1.0
26,1,27,2016-01-01,29.0,24.0,5.0
27,1,28,2016-01-01,16.0,16.0,0.0
28,1,29,2016-01-01,21.0,17.0,4.0
29,1,30,2016-01-01,25.0,12.0,13.0
...,...,...,...,...,...,...
294594,66,115,2016-01-31,20.0,20.0,0.0
294595,66,116,2016-01-31,22.0,22.0,0.0
294596,66,117,2016-01-31,24.0,24.0,0.0
294597,66,118,2016-01-31,0.0,0.0,0.0
294598,66,119,2016-01-31,0.0,0.0,0.0
294599,66,120,2016-01-31,0.0,0.0,0.0
294600,66,121,2016-01-31,0.0,0.0,0.0
294601,66,122,2016-01-31,0.0,0.0,0.0
294602,66,123,2016-01-31,0.0,0.0,0.0
294603,66,124,2016-01-31,0.0,0.0,0.0
294604,66,125,2016-01-31,0.0,0.0,0.0
294605,66,126,2016-01-31,0.0,0.0,0.0
294606,66,127,2016-01-31,17.0,17.0,0.0
294607,66,128,2016-01-31,13.0,13.0,0.0
294608,66,129,2016-01-31,18.0,18.0,0.0
294609,66,130,2016-01-31,0.0,0.0,0.0
294610,66,131,2016-01-31,0.0,0.0,0.0
294611,66,132,2016-01-31,0.0,0.0,0.0
294612,66,133,2016-01-31,0.0,0.0,0.0
294613,66,134,2016-01-31,0.0,0.0,0.0
294614,66,135,2016-01-31,0.0,0.0,0.0
294615,66,136,2016-01-31,0.0,0.0,0.0
294616,66,137,2016-01-31,0.0,0.0,0.0
294617,66,138,2016-01-31,0.0,0.0,0.0
294618,66,139,2016-01-31,10.0,10.0,0.0
294619,66,140,2016-01-31,4.0,4.0,0.0
294620,66,141,2016-01-31,9.0,9.0,0.0
294621,66,142,2016-01-31,0.0,0.0,0.0
294622,66,143,2016-01-31,0.0,0.0,0.0
294623,66,144,2016-01-31,0.0,0.0,0.0

In [39]:
from sklearn.metrics.scorer import make_scorer
import math

def MAPE_scorer(y, y_pred):
    error = 0
    num = len(y)
    for i in range(0, num):
        if y[i] > 0:
            error += math.fabs(y_pred[i] - y[i]) / y[i]
    print(error, num)
    if num > 0:
        return error / num
    else:
        return 0

my_scorer = make_scorer(MAPE_scorer)

In [41]:
y = df['gap'][:21*66*144]
MAPE_scorer(y, [1 for i in range(0, 21*66*144)])

53370.3598616 199584

0.26740800796433484

In [44]:
df_predict = df.loc[df['time_slice'].isin([46, 58, 70, 82, 94, 106, 118, 130, 142])]

df_predict

,start_district_num,time_slice,date,order_count,succeed_count,gap
45,1,46,2016-01-01,129.0,125.0,4.0
57,1,58,2016-01-01,150.0,146.0,4.0
69,1,70,2016-01-01,201.0,186.0,15.0
81,1,82,2016-01-01,225.0,207.0,18.0
93,1,94,2016-01-01,224.0,222.0,2.0
105,1,106,2016-01-01,290.0,279.0,11.0
117,1,118,2016-01-01,214.0,205.0,9.0
129,1,130,2016-01-01,234.0,226.0,8.0
141,1,142,2016-01-01,115.0,111.0,4.0
189,2,46,2016-01-01,11.0,11.0,0.0
201,2,58,2016-01-01,17.0,16.0,1.0
213,2,70,2016-01-01,22.0,22.0,0.0
225,2,82,2016-01-01,26.0,24.0,2.0
237,2,94,2016-01-01,21.0,20.0,1.0
249,2,106,2016-01-01,22.0,21.0,1.0
261,2,118,2016-01-01,29.0,29.0,0.0
273,2,130,2016-01-01,23.0,22.0,1.0
285,2,142,2016-01-01,16.0,16.0,0.0
333,3,46,2016-01-01,6.0,2.0,4.0
345,3,58,2016-01-01,3.0,1.0,2.0
357,3,70,2016-01-01,4.0,2.0,2.0
369,3,82,2016-01-01,3.0,3.0,0.0
381,3,94,2016-01-01,6.0,6.0,0.0
393,3,106,2016-01-01,4.0,4.0,0.0
405,3,118,2016-01-01,3.0,3.0,0.0
417,3,130,2016-01-01,3.0,3.0,0.0
429,3,142,2016-01-01,2.0,1.0,1.0
477,4,46,2016-01-01,44.0,20.0,24.0
489,4,58,2016-01-01,49.0,31.0,18.0
501,4,70,2016-01-01,105.0,41.0,64.0
...,...,...,...,...,...,...
294165,63,118,2016-01-31,0.0,0.0,0.0
294177,63,130,2016-01-31,0.0,0.0,0.0
294189,63,142,2016-01-31,0.0,0.0,0.0
294237,64,46,2016-01-31,0.0,0.0,0.0
294249,64,58,2016-01-31,0.0,0.0,0.0
294261,64,70,2016-01-31,0.0,0.0,0.0
294273,64,82,2016-01-31,0.0,0.0,0.0
294285,64,94,2016-01-31,0.0,0.0,0.0
294297,64,106,2016-01-31,0.0,0.0,0.0
294309,64,118,2016-01-31,0.0,0.0,0.0
294321,64,130,2016-01-31,0.0,0.0,0.0
294333,64,142,2016-01-31,0.0,0.0,0.0
294381,65,46,2016-01-31,0.0,0.0,0.0
294393,65,58,2016-01-31,0.0,0.0,0.0
294405,65,70,2016-01-31,0.0,0.0,0.0
294417,65,82,2016-01-31,0.0,0.0,0.0
294429,65,94,2016-01-31,0.0,0.0,0.0
294441,65,106,2016-01-31,0.0,0.0,0.0
294453,65,118,2016-01-31,0.0,0.0,0.0
294465,65,130,2016-01-31,0.0,0.0,0.0
294477,65,142,2016-01-31,0.0,0.0,0.0
294525,66,46,2016-01-31,0.0,0.0,0.0
294537,66,58,2016-01-31,0.0,0.0,0.0
294549,66,70,2016-01-31,0.0,0.0,0.0
294561,66,82,2016-01-31,0.0,0.0,0.0
294573,66,94,2016-01-31,0.0,0.0,0.0
294585,66,106,2016-01-31,0.0,0.0,0.0
294597,66,118,2016-01-31,0.0,0.0,0.0
294609,66,130,2016-01-31,0.0,0.0,0.0
294621,66,142,2016-01-31,0.0,0.0,0.0

In [46]:
y

45         4.0
57         4.0
69        15.0
81        18.0
93         2.0
105       11.0
117        9.0
129        8.0
141        4.0
189        0.0
201        1.0
213        0.0
225        2.0
237        1.0
249        1.0
261        0.0
273        1.0
285        0.0
333        4.0
345        2.0
357        2.0
369        0.0
381        0.0
393        0.0
405        0.0
417        0.0
429        1.0
477       24.0
489       18.0
501       64.0
          ...
294165     0.0
294177     0.0
294189     0.0
294237     0.0
294249     0.0
294261     0.0
294273     0.0
294285     0.0
294297     0.0
294309     0.0
294321     0.0
294333     0.0
294381     0.0
294393     0.0
294405     0.0
294417     0.0
294429     0.0
294441     0.0
294453     0.0
294465     0.0
294477     0.0
294525     0.0
294537     0.0
294549     0.0
294561     0.0
294573     0.0
294585     0.0
294597     0.0
294609     0.0
294621     0.0
Name: gap, dtype: float64

In [51]:
# y baseline by all 1
y_train = df_predict['gap'][:9*21*66].as_matrix()

MAPE_scorer(y_train, [1 for i in range(0, len(y_train))])

3854.59133608 12474

0.30901004778565