In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
%matplotlib inline

In [20]:
df = pd.read_csv("data/season_1/groupby_all.csv")

In [21]:
df.dtypes

start_district_num      int64
time_slice              int64
date                   object
order_count           float64
succeed_count         float64
gap                   float64
dtype: object

In [22]:
df[["start_district_num", "time_slice", "order_count", 'succeed_count', 'gap']] = \
df[["start_district_num", "time_slice","order_count", 'succeed_count', 'gap']].\
    apply(lambda x: pd.to_numeric(x, errors='coerce'))
    
# transfer object to numbers

In [23]:
df["date"] = df["date"].apply(lambda x: pd.to_datetime(x, errors='coerce'))

In [24]:
df.dtypes

start_district_num             int64
time_slice                     int64
date                  datetime64[ns]
order_count                  float64
succeed_count                float64
gap                          float64
dtype: object

In [26]:
df

,start_district_num,time_slice,date,order_count,succeed_count,gap
0,1,1,2016-01-01,187.0,178.0,9.0
1,1,2,2016-01-01,198.0,191.0,7.0
2,1,3,2016-01-01,192.0,182.0,10.0
3,1,4,2016-01-01,172.0,167.0,5.0
4,1,5,2016-01-01,153.0,152.0,1.0
5,1,6,2016-01-01,132.0,131.0,1.0
6,1,7,2016-01-01,133.0,127.0,6.0
7,1,8,2016-01-01,130.0,128.0,2.0
8,1,9,2016-01-01,120.0,114.0,6.0
9,1,10,2016-01-01,111.0,105.0,6.0
10,1,11,2016-01-01,72.0,70.0,2.0
11,1,12,2016-01-01,73.0,70.0,3.0
12,1,13,2016-01-01,61.0,60.0,1.0
13,1,14,2016-01-01,71.0,67.0,4.0
14,1,15,2016-01-01,59.0,56.0,3.0
15,1,16,2016-01-01,84.0,73.0,11.0
16,1,17,2016-01-01,73.0,53.0,20.0
17,1,18,2016-01-01,65.0,47.0,18.0
18,1,19,2016-01-01,61.0,50.0,11.0
19,1,20,2016-01-01,46.0,40.0,6.0
20,1,21,2016-01-01,41.0,39.0,2.0
21,1,22,2016-01-01,32.0,31.0,1.0
22,1,23,2016-01-01,40.0,37.0,3.0
23,1,24,2016-01-01,30.0,22.0,8.0
24,1,25,2016-01-01,18.0,17.0,1.0
25,1,26,2016-01-01,24.0,23.0,1.0
26,1,27,2016-01-01,29.0,24.0,5.0
27,1,28,2016-01-01,16.0,16.0,0.0
28,1,29,2016-01-01,21.0,17.0,4.0
29,1,30,2016-01-01,25.0,12.0,13.0
...,...,...,...,...,...,...
294594,66,115,2016-01-31,20.0,20.0,0.0
294595,66,116,2016-01-31,22.0,22.0,0.0
294596,66,117,2016-01-31,24.0,24.0,0.0
294597,66,118,2016-01-31,0.0,0.0,0.0
294598,66,119,2016-01-31,0.0,0.0,0.0
294599,66,120,2016-01-31,0.0,0.0,0.0
294600,66,121,2016-01-31,0.0,0.0,0.0
294601,66,122,2016-01-31,0.0,0.0,0.0
294602,66,123,2016-01-31,0.0,0.0,0.0
294603,66,124,2016-01-31,0.0,0.0,0.0
294604,66,125,2016-01-31,0.0,0.0,0.0
294605,66,126,2016-01-31,0.0,0.0,0.0
294606,66,127,2016-01-31,17.0,17.0,0.0
294607,66,128,2016-01-31,13.0,13.0,0.0
294608,66,129,2016-01-31,18.0,18.0,0.0
294609,66,130,2016-01-31,0.0,0.0,0.0
294610,66,131,2016-01-31,0.0,0.0,0.0
294611,66,132,2016-01-31,0.0,0.0,0.0
294612,66,133,2016-01-31,0.0,0.0,0.0
294613,66,134,2016-01-31,0.0,0.0,0.0
294614,66,135,2016-01-31,0.0,0.0,0.0
294615,66,136,2016-01-31,0.0,0.0,0.0
294616,66,137,2016-01-31,0.0,0.0,0.0
294617,66,138,2016-01-31,0.0,0.0,0.0
294618,66,139,2016-01-31,10.0,10.0,0.0
294619,66,140,2016-01-31,4.0,4.0,0.0
294620,66,141,2016-01-31,9.0,9.0,0.0
294621,66,142,2016-01-31,0.0,0.0,0.0
294622,66,143,2016-01-31,0.0,0.0,0.0
294623,66,144,2016-01-31,0.0,0.0,0.0