In [1]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("data/season_1/features/51.csv")

In [4]:
df.dtypes

start_district_num                                                                              int64
time_slice                                                                                      int64
date                                                                                           object
order_count                                                                                   float64
succeed_count                                                                                 float64
gap                                                                                           float64
weekday                                                                                         int64
is_workday                                                                                      int64
order_30min                                                                                   float64
succeed_30min                                                                                 float64
gap_30min                                                                                     float64
('order_20min', 'succeed_20min', 'gap_20min', 'order_10min', 'succeed_10min', 'gap_10min')      int64
order_20min                                                                                     int64
succeed_20min                                                                                   int64
gap_20min                                                                                       int64
order_10min                                                                                     int64
succeed_10min                                                                                   int64
gap_10min                                                                                       int64
dtype: object

In [5]:
df["date"] = df["date"].apply(lambda x: pd.to_datetime(x, errors='coerce'))

In [6]:
df.dtypes

start_district_num                                                                                     int64
time_slice                                                                                             int64
date                                                                                          datetime64[ns]
order_count                                                                                          float64
succeed_count                                                                                        float64
gap                                                                                                  float64
weekday                                                                                                int64
is_workday                                                                                             int64
order_30min                                                                                          float64
succeed_30min                                                                                        float64
gap_30min                                                                                            float64
('order_20min', 'succeed_20min', 'gap_20min', 'order_10min', 'succeed_10min', 'gap_10min')             int64
order_20min                                                                                            int64
succeed_20min                                                                                          int64
gap_20min                                                                                              int64
order_10min                                                                                            int64
succeed_10min                                                                                          int64
gap_10min                                                                                              int64
dtype: object

In [7]:
df

,start_district_num,time_slice,date,order_count,succeed_count,gap,weekday,is_workday,order_30min,succeed_30min,gap_30min,"('order_20min', 'succeed_20min', 'gap_20min', 'order_10min', 'succeed_10min', 'gap_10min')",order_20min,succeed_20min,gap_20min,order_10min,succeed_10min,gap_10min
0,51,1,2016-01-02,348.0,191.0,157.0,5,0,347.0,252.0,95.0,0,357,203,154,300,168,132
1,51,2,2016-01-02,317.0,183.0,134.0,5,0,357.0,203.0,154.0,0,300,168,132,348,191,157
2,51,3,2016-01-02,246.0,134.0,112.0,5,0,300.0,168.0,132.0,0,348,191,157,317,183,134
3,51,4,2016-01-02,283.0,146.0,137.0,5,0,348.0,191.0,157.0,0,317,183,134,246,134,112
4,51,5,2016-01-02,289.0,155.0,134.0,5,0,317.0,183.0,134.0,0,246,134,112,283,146,137
5,51,6,2016-01-02,206.0,122.0,84.0,5,0,246.0,134.0,112.0,0,283,146,137,289,155,134
6,51,7,2016-01-02,196.0,110.0,86.0,5,0,283.0,146.0,137.0,0,289,155,134,206,122,84
7,51,8,2016-01-02,193.0,105.0,88.0,5,0,289.0,155.0,134.0,0,206,122,84,196,110,86
8,51,9,2016-01-02,141.0,91.0,50.0,5,0,206.0,122.0,84.0,0,196,110,86,193,105,88
9,51,10,2016-01-02,138.0,90.0,48.0,5,0,196.0,110.0,86.0,0,193,105,88,141,91,50
10,51,11,2016-01-02,136.0,72.0,64.0,5,0,193.0,105.0,88.0,0,141,91,50,138,90,48
11,51,12,2016-01-02,134.0,75.0,59.0,5,0,141.0,91.0,50.0,0,138,90,48,136,72,64
12,51,13,2016-01-02,134.0,65.0,69.0,5,0,138.0,90.0,48.0,0,136,72,64,134,75,59
13,51,14,2016-01-02,128.0,60.0,68.0,5,0,136.0,72.0,64.0,0,134,75,59,134,65,69
14,51,15,2016-01-02,120.0,51.0,69.0,5,0,134.0,75.0,59.0,0,134,65,69,128,60,68
15,51,16,2016-01-02,121.0,48.0,73.0,5,0,134.0,65.0,69.0,0,128,60,68,120,51,69
16,51,17,2016-01-02,110.0,41.0,69.0,5,0,128.0,60.0,68.0,0,120,51,69,121,48,73
17,51,18,2016-01-02,93.0,38.0,55.0,5,0,120.0,51.0,69.0,0,121,48,73,110,41,69
18,51,19,2016-01-02,108.0,35.0,73.0,5,0,121.0,48.0,73.0,0,110,41,69,93,38,55
19,51,20,2016-01-02,100.0,28.0,72.0,5,0,110.0,41.0,69.0,0,93,38,55,108,35,73
20,51,21,2016-01-02,93.0,31.0,62.0,5,0,93.0,38.0,55.0,0,108,35,73,100,28,72
21,51,22,2016-01-02,85.0,27.0,58.0,5,0,108.0,35.0,73.0,0,100,28,72,93,31,62
22,51,23,2016-01-02,66.0,20.0,46.0,5,0,100.0,28.0,72.0,0,93,31,62,85,27,58
23,51,24,2016-01-02,67.0,29.0,38.0,5,0,93.0,31.0,62.0,0,85,27,58,66,20,46
24,51,25,2016-01-02,49.0,22.0,27.0,5,0,85.0,27.0,58.0,0,66,20,46,67,29,38
25,51,26,2016-01-02,52.0,21.0,31.0,5,0,66.0,20.0,46.0,0,67,29,38,49,22,27
26,51,27,2016-01-02,52.0,22.0,30.0,5,0,67.0,29.0,38.0,0,49,22,27,52,21,31
27,51,28,2016-01-02,47.0,26.0,21.0,5,0,49.0,22.0,27.0,0,52,21,31,52,22,30
28,51,29,2016-01-02,49.0,28.0,21.0,5,0,52.0,21.0,31.0,0,52,22,30,47,26,21
29,51,30,2016-01-02,31.0,22.0,9.0,5,0,52.0,22.0,30.0,0,47,26,21,49,28,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4290,51,115,2016-01-31,613.0,472.0,141.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4291,51,116,2016-01-31,640.0,473.0,167.0,6,0,0.0,0.0,0.0,0,0,0,0,613,472,141
4292,51,117,2016-01-31,627.0,478.0,149.0,6,0,0.0,0.0,0.0,0,613,472,141,640,473,167
4293,51,118,2016-01-31,0.0,0.0,0.0,6,0,613.0,472.0,141.0,0,640,473,167,627,478,149
4294,51,119,2016-01-31,0.0,0.0,0.0,6,0,640.0,473.0,167.0,0,627,478,149,0,0,0
4295,51,120,2016-01-31,0.0,0.0,0.0,6,0,627.0,478.0,149.0,0,0,0,0,0,0,0
4296,51,121,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4297,51,122,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4298,51,123,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4299,51,124,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4300,51,125,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4301,51,126,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4302,51,127,2016-01-31,1151.0,404.0,747.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4303,51,128,2016-01-31,838.0,395.0,443.0,6,0,0.0,0.0,0.0,0,0,0,0,1151,404,747
4304,51,129,2016-01-31,955.0,393.0,562.0,6,0,0.0,0.0,0.0,0,1151,404,747,838,395,443
4305,51,130,2016-01-31,0.0,0.0,0.0,6,0,1151.0,404.0,747.0,0,838,395,443,955,393,562
4306,51,131,2016-01-31,0.0,0.0,0.0,6,0,838.0,395.0,443.0,0,955,393,562,0,0,0
4307,51,132,2016-01-31,0.0,0.0,0.0,6,0,955.0,393.0,562.0,0,0,0,0,0,0,0
4308,51,133,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4309,51,134,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4310,51,135,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4311,51,136,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4312,51,137,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4313,51,138,2016-01-31,0.0,0.0,0.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4314,51,139,2016-01-31,214.0,182.0,32.0,6,0,0.0,0.0,0.0,0,0,0,0,0,0,0
4315,51,140,2016-01-31,190.0,166.0,24.0,6,0,0.0,0.0,0.0,0,0,0,0,214,182,32
4316,51,141,2016-01-31,179.0,163.0,16.0,6,0,0.0,0.0,0.0,0,214,182,32,190,166,24
4317,51,142,2016-01-31,0.0,0.0,0.0,6,0,214.0,182.0,32.0,0,190,166,24,179,163,16
4318,51,143,2016-01-31,0.0,0.0,0.0,6,0,190.0,166.0,24.0,0,179,163,16,0,0,0
4319,51,144,2016-01-31,0.0,0.0,0.0,6,0,179.0,163.0,16.0,0,0,0,0,0,0,0

In [8]:
from sklearn.metrics.scorer import make_scorer
import math

def MAPE_scorer(y, y_pred):
    error = 0
    num = len(y)
    for i in range(0, num):
        if y[i] > 0:
            error += math.fabs(y_pred[i] - y[i]) / y[i]
    #print('error, num:', error, num)
    if num > 0:
        return error / num
    else:
        return 0

my_scorer = make_scorer(MAPE_scorer)

In [10]:
y = df['gap'][:21*66*144]
MAPE_scorer(y, [1 for i in range(0, 21*66*144)])

error, num: 53370.3598616 199584

0.26740800796433484

In [9]:
# split training, CV, test set

training = df.loc[(df.date < '2016-01-17') | (df.date == '2016-01-18')]

training_time = training.loc[df.time_slice.isin([46, 58, 70, 82, 94, 106, 118, 130, 142])]

cv = df.loc[df['date'].isin(['2016-01-17','2016-01-19','2016-01-20',
                             '2016-01-21'])]

cv_time = cv.loc[df.time_slice.isin([46, 58, 70, 82, 94, 106, 118, 130, 142])]
# only catch time slice in test set

test = df.loc[(df['date'].isin(['2016-01-23','2016-01-27','2016-01-31']) &\
         df['time_slice'].isin([46, 58, 70, 82, 94, 106, 118, 130, 142]))
      |\
       (df['date'].isin(['2016-01-25','2016-01-29']) &\
         df['time_slice'].isin([58, 70, 82, 94, 106, 118, 130, 142]))]

In [126]:

import matplotlib
matplotlib.rcParams['figure.figsize'] = (20.0, 10.0)

In [19]:
from sklearn import linear_model
y_cv_real_all = []
y_cv_pred_all = []
y_test_all = []
for time in [46, 58, 70, 82, 94, 106, 118, 130, 142]:
    training_ts = training_time.loc[training_time.time_slice == time]
    cv_ts = cv_time.loc[cv.time_slice == time]
    test_ts = test.loc[test.time_slice == time]
    X_training = training_ts.as_matrix(columns=[
                                  'is_workday',
                                  'gap_30min',
                                  'gap_20min', 
                                  'gap_10min'])
    y_training = training_ts.as_matrix(columns=['gap']).ravel()
    X_cv = cv_ts.as_matrix(columns=[
                                  'is_workday',
                                  'gap_30min',
                                  'gap_20min', 
                                  'gap_10min'])
    y_cv = cv_ts.as_matrix(columns=['gap']).ravel()
    X_test = test_ts.as_matrix(columns=[
                                  'is_workday',
                                  'gap_30min',
                                  'gap_20min', 
                                  'gap_10min'])
    clf = linear_model.LinearRegression()
    clf.fit(X_training, y_training)
    #print(time, clf.score(X_training, y_training), clf.score(X_cv, y_cv),
    #     (MAPE_scorer(y_cv, clf.predict(X_cv))))
    #print(clf.coef_ ,clf.predict(X_test))
    MAPE_train = MAPE_scorer(y_training, modifier(clf.predict(X_training)))
    MAPE_cv = MAPE_scorer(y_cv, modifier(clf.predict(X_cv)))
    MAPE_1_train = MAPE_scorer(y_training, [1 for x in range(len(y_training))])
    MAPE_1_cv = MAPE_scorer(y_cv, [1 for x in range(len(y_cv))])
    if MAPE_train > MAPE_1_train or MAPE_cv > MAPE_1_cv:
        print('time_slice {}: train {:.2}, cv {:.2}'.format(time, 
            MAPE_train, MAPE_cv))
        print('time_slice {}: baseline {:.2}, {:.2}'.format(time, 
               MAPE_1_train ,
               MAPE_1_cv ))
    X_test = test_ts.as_matrix(columns=[
                                  'is_workday',
                                  'gap_30min',
                                  'gap_20min', 
                                  'gap_10min'])
    y_cv_pred = modifier(clf.predict(X_cv))
    y_test = modifier(clf.predict(X_test))
    
    #print(y_test)
    #print(modifier(y_test))
    print(y_cv_pred)
    print(y_cv)
    y_cv_real_all += list(y_cv)
    y_cv_pred_all += list(y_cv_pred)
    y_test_all += list(y_test)

time_slice 46: train 0.9, cv 0.77
time_slice 46: baseline 0.88, 0.97
[ 63.02787038  20.40405936  25.60042238  14.06458641]
[ 26.  41.  50.  41.]
[  5.09594079  12.09181008   8.35466455   7.58320505]
[ 3.  9.  8.  7.]
[   5.59517848   13.14947984  101.03134142   16.24605233]
[  11.   15.  205.    8.]
[  31.63520938  147.99784342   91.80054154   15.44438864]
[  17.  170.  228.   14.]
time_slice 94: train 1.4, cv 0.56
time_slice 94: baseline 0.96, 0.99
[  90.48501972  192.78460418  145.85195449   14.31216905]
[ 130.  345.  430.   84.]
[  37.71298634  837.85636824  903.90126152  469.28430259]
[   12.  1013.   910.  1109.]
[   16.26331866   274.40904432  1100.08277178    29.40364027]
[  18.  165.  551.   26.]
[ 263.34748523  690.18672834  698.50883863  571.69425501]
[ 379.  734.  882.  421.]
[  1.          33.95020791  20.57817323  87.29164605]
[ 10.  15.  44.  89.]

In [11]:
def modifier(y_pred):
    #print(y_pred)
    for i in range(len(y_pred)):
        if y_pred[i] < 1:
            y_pred[i] = 1
    #print(y_pred)
    return y_pred
#modifier(list(y_training))

In [18]:
print(MAPE_scorer(y_cv_real_all, y_cv_pred_all))
print(MAPE_scorer(y_cv_real_all, [1 for i in range(len(y_cv_real_all))]))

0.520895048586
0.953647426794

In [199]:
test = test.sort_values(by=['time_slice','date'])
test['y'] = y_test_all

In [200]:
test[['start_district_num','date','time_slice','y']]

      start_district_num        date  time_slice           y
3069                  51  2016-01-23          46    1.000000
3645                  51  2016-01-27          46   20.536544
4221                  51  2016-01-31          46    1.000000
3081                  51  2016-01-23          58   17.709742
3369                  51  2016-01-25          58   30.327616
3657                  51  2016-01-27          58    8.280543
3945                  51  2016-01-29          58   25.864625
4233                  51  2016-01-31          58    6.116048
3093                  51  2016-01-23          70    9.634943
3381                  51  2016-01-25          70    9.147614
3669                  51  2016-01-27          70   15.356860
3957                  51  2016-01-29          70  152.607160
4245                  51  2016-01-31          70   29.206040
3105                  51  2016-01-23          82   18.138381
3393                  51  2016-01-25          82  104.274401
3681                  51  2016-01-27          82   17.142778
3969                  51  2016-01-29          82  199.083085
4257                  51  2016-01-31          82  101.335146
3117                  51  2016-01-23          94   65.222938
3405                  51  2016-01-25          94  124.447286
3693                  51  2016-01-27          94   77.607365
3981                  51  2016-01-29          94  459.684919
4269                  51  2016-01-31          94  189.238216
3129                  51  2016-01-23         106   48.492998
3417                  51  2016-01-25         106  851.320164
3705                  51  2016-01-27         106  856.881049
3993                  51  2016-01-29         106  794.414451
4281                  51  2016-01-31         106  620.373105
3141                  51  2016-01-23         118   31.433954
3429                  51  2016-01-25         118  431.925410
3717                  51  2016-01-27         118   27.761885
4005                  51  2016-01-29         118   28.769861
4293                  51  2016-01-31         118  297.442171
3153                  51  2016-01-23         130  591.080204
3441                  51  2016-01-25         130  365.038038
3729                  51  2016-01-27         130  467.460863
4017                  51  2016-01-29         130  699.789626
4305                  51  2016-01-31         130  533.486239
3165                  51  2016-01-23         142  302.449343
3453                  51  2016-01-25         142  152.798786
3741                  51  2016-01-27         142  179.397661
4029                  51  2016-01-29         142  375.913549
4317                  51  2016-01-31         142    1.000000

In [204]:
test[['start_district_num','date','time_slice','y']].to_csv('pred51.csv')

In [208]:
X_test.shape[0]

5

In [209]:
X_test

array([[   0.,  226.,  138.,  181.],
       [   1.,   86.,   87.,   88.],
       [   1.,   73.,   79.,  105.],
       [   1.,  436.,  497.,  262.],
       [   0.,   32.,   24.,   16.]])

In [88]:
from sklearn.svm import SVR

clf = SVR(C=1.0, epsilon=0.2)
clf = clf.fit(X_training, y_training)

print(clf.score(X_training, y_training))
print(clf.score(X_cv, y_cv))
print(clf.score(X_cv_time, y_cv_time))

0.0297957532569
-0.0205079220299
-0.0923028979494

In [95]:
print(clf.predict(X_cv_time))
print(y_cv_time)

[  2.7   2.8   9.3   4.3   5.4   8.1   6.2   5.6   2.6   2.4   4.1   6.
   4.1   3.3   4.    6.2   3.5   3.2   2.7   3.6   9.2   3.    5.1   8.5
   7.7   8.2   2.6   8.8   5.7   4.    3.6   6.2  20.3   3.9   6.3   3.4]
[  3.   0.   8.   4.   4.  10.   9.   7.   4.   6.   6.   6.   3.   2.   1.
   6.   0.   1.   2.   0.  17.   1.   5.  13.   9.  11.   1.   5.   4.   2.
   2.   5.  12.   4.   7.   4.]

In [100]:

print(MAPE_scorer(y_cv, clf.predict(X_cv)))
print(MAPE_scorer(y_cv_time, clf.predict(X_cv_time)/2))

error, num: 282.053309219 576
0.489675884061
error, num: 15.7112891928 36
0.436424699801

In [104]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
enc.fit(training.as_matrix(columns=['time_slice']))
enc.n_values_

array([145])

In [105]:
enc.feature_indices_

array([  0, 145])

In [158]:
training.to_csv('dist51_training.csv')